@import "../formItem.scss";
.contentView{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  flex-wrap: wrap;
  gap: 30px;
  .imgItem{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    border:1px solid #ccc;
    position: relative;
    &.uploadFail{
      border: 1px solid #f00;
    }
    image{
      width: 100%;
      height: 100%;
    }
    .closeIcon{
      width: 36px;
      height: 36px;
      position:absolute;
      top:0;
      right: 0;
    }
    .progreeView{
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      background: rgba(0, 0, 0, .6);
      display: flex;
      align-items: center;
      justify-content: center;
      .progressText{
        color: #fff;
        font-size: 26px;
        font-weight: 700;
      }
    }
  }
  .uploadBtn{
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #ccc;

    .uploadBtnImg{
      width:32px;
      height: 26px;
    }

  }

}
