//所有界面使用flex布局
page,body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
view{
  box-sizing: border-box;
  flex-shrink: 0;
}

.nut-form{
  .nut-cell-group-wrap{
    background: transparent;
    width: 100%;
  }
}
